/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Mar 14, 2025, 12:04:55 AM
    Author     : truong
*/
.loginField {
    -fx-background-radius: 15px;
    -fx-text-fill: #012a4a;
    -fx-font-family: "Verdana", "Arial", sans-serif;
    -fx-font-size: 14px;
    -fx-padding: 5px 8px 5px 8px;
    -fx-border-width: 0px;
    -fx-cursor: hand;
}
.loginFieldPass{
    -fx-background-radius: 15px;
    -fx-text-fill: #012a4a;
    -fx-font-family: "Verdana", "Arial", sans-serif;
    -fx-font-size: 14px;
    -fx-padding: 5px 8px 5px 8px;
    -fx-border-width: 0px;
    -fx-cursor: hand;
}
.showpassbutton{
    -fx-background-radius: 50%;
    -fx-font-size: 14px;
    -fx-padding: 0px 2px 0px 2px;
    -fx-background-color: white;
    -fx-cursor: hand;
}
.loginButton{
    -fx-background-color: #89c2d9;
    -fx-background-radius: 80px;
    -fx-text-fill: #012a4a;
    -fx-font-family:"Roboto", "Arial", sans-serif;
    -fx-font-size: 15px;
    -fx-padding: 5px 8px 5px 8px;   
    -fx-border-width: 0px;     
    -fx-effect: dropshadow(gaussian, rgba(44, 187, 99, 0.15), 8, 0.5, 0, 2); 
    -fx-cursor: hand;
}
.loginButton:hover{
    -fx-background-color: #61a5c2;
}
.buttonRegis{
    -fx-background-color: #89c2d9;
    -fx-background-radius: 80px; 
    -fx-text-fill: #012a4a;     
    -fx-font-family: 'Roboto', sans-serif;
    -fx-font-size: 15px;       
    -fx-padding: 5px 10px 5px 10px;    
    -fx-border-width: 0px;  
    -fx-effect: dropshadow(gaussian, rgba(44, 187, 99, 0.15), 8, 0.5, 0, 2); 
    -fx-cursor: hand;
}
.buttonRegis:hover{
    -fx-background-color: #61a5c2;
}
.textFieldRegis{
    -fx-background-radius:10px 15px 15px 10px;
    -fx-text-fill: #012a4a; 
    -fx-font-family: "Verdana", sans-serif;
    -fx-font-size: 14px;
    -fx-padding: 5px 8px 5px 8px;
    -fx-border-width: 0px;
    -fx-effect: dropshadow(gaussian, rgba(44, 187, 99, 0.15), 8, 0.5, 0, 2);
    -fx-cursor: hand;
}
.errorInput {
    -fx-fill: red; /* Màu chữ */
    -fx-font-family: "Verdana", sans-serif;
    -fx-font-size: 15px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 6, 0, 3, 3); /* Đổ bóng tối */
}
.errorInput1 {
    -fx-fill: red; /* Màu chữ sáng (trắng) */
    -fx-font-family: "Verdana", sans-serif;
    -fx-font-size: 15px;
    -fx-font-weight: bold; /* Làm chữ đậm */
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.7), 20, 0, 0, 0);/* Đổ bóng tối */
}

.textForget{
    -fx-fill: white;
    -fx-font-family: "Robot", sans-serif;
    -fx-font-size: 14px;
}
.task3button {
  -fx-text-fill: white;
  -fx-background-color: #003B46;
  -fx-color: white;
  -fx-border: none;
  -fx-margin: 0;
  -fx-padding: 0;
  -fx-border-radius: 0;
  -fx-background-radius: 0;
  -fx-cursor: hand;
  -fx-transition: background-color 0.3s ease;
}

.task3button:hover {
  -fx-background-color: #00535F; /* Màu sáng hơn của #003B46 */
}
.task3buttonisON{
  -fx-background-color: #00535F;
  -fx-text-fill: white;
  -fx-color: white;
  -fx-border: none;
  -fx-margin: 0;
  -fx-padding: 0;
  -fx-border-radius: 0;
  -fx-background-radius: 0;
  -fx-cursor: hand;
}
.openAppBtn {
    -fx-background-color: #FF4742;
    -fx-border-color: #FF4742;
    -fx-border-radius: 6px;
    -fx-background-radius: 0px;
    -fx-text-fill: white;
    -fx-font-family: "Nunito", "Roboto", "Proxima Nova", sans-serif;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 12px 14px 12px 14px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 4, 0, 1, 2);
}

.openAppBtn:hover {
    -fx-background-color: #E03E3A;
    -fx-text-fill: white;
}

.openAppBtn:pressed {
    -fx-opacity: 0.5;
}
.listApps{
    -fx-background-color: rgba(51, 102, 204, 0.2); 
    -fx-background-radius: 8;
}
.listApps:hover{
    -fx-background-color: rgba(51, 102, 204, 0.5);
}
.listSetting{
    -fx-background-color: rgba(51, 102, 204, 0.2); 
}
.listSetting:hover{
    -fx-background-color: rgba(51, 102, 204, 0.6);
}
.listSetting:pressed {
    -fx-opacity: 0.5;
}
.false_input{    
    -fx-border-color: red;
    -fx-border-width: 2px;
}
.isSending{
    -fx-fill: white;        
    -fx-font-size: 20px;     
    -fx-font-weight: bold; 
}
.successSend{
    -fx-fill: #00ff00;            
    -fx-font-size: 17px;       
    -fx-font-weight: bold;      
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.6), 4, 0.5, 2, 2);
}

.button33 {
    -fx-background-color: #0C4783;
    -fx-background-radius: 100;
    -fx-text-fill: white;
    -fx-font-family: "CerebriSans-Regular", "Roboto", "sans-serif";
    -fx-font-size: 16px;
    -fx-padding: 5px 25px;
    -fx-cursor: hand;

    /* Hiệu ứng bóng nhẹ màu xanh nhạt */
    -fx-effect: dropshadow(gaussian, rgba(90, 154, 214, 0.3), 10, 0.3, 0, 4);
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-rotate: 0;
}

.button33:hover {
    -fx-background-color: #1D6FC1;
    -fx-effect: dropshadow(gaussian, rgba(90, 154, 214, 0.5), 15, 0.5, 0, 5);
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-rotate: -1;
}
.text-style {
    -fx-fill: white; /* Màu chữ trắng */
    -fx-font-size: 15px; /* Kích thước chữ lớn */
    -fx-font-family: "Arial", sans-serif; /* Font chữ */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 5, 0.5, 1, 1); /* Hiệu ứng drop shadow */
}


